caption, .button-group {
  margin: 20px auto 10px auto;
}

table {
  border-collapse: collapse;
  margin: 6px auto;
}

.sudoku {
  display: flex;
  flex-flow: wrap;
}

colgroup, tbody {
  border: solid medium;
}

body {
  margin-top: 0;
}
td {
  border: solid thin;
  height: 2em;
  width: 2em;
  text-align: center;
  padding: 0;
}
