<?xml version='1.0' encoding='utf-8'?>
<widget id="com.woody.sudoku" version="1.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>sudoku-phonegap</name>
    <description>
        A blank PhoneGap app.
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        PhoneGap Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <engine name="android" spec="~6.0.0" />
    <engine name="ios" spec="~4.3.0" />
    <!-- Do not auto hide splash on iOS -->
  <preference name="AutoHideSplashScreen" value="false" />
  <!-- Do not auto hide splash on Android -->
  <preference name="SplashScreenDelay" value="10000"/>

  <gap:plugin name="org.apache.cordova.splashscreen" />
</widget>
